header {
    background-color: rgb(28, 28, 50);
    text-align: center;
    color: white;
    font-size: 200%;  
}

#introSize {
    font-size: 70%;
}

aside {
    width: 24%;
    background-color:rgb(106, 105, 107);
}


.bullets {
    list-style-type: none;
}

section {
    font-family: sans-serif;
}

footer {
    background-color: rgb(28, 28, 50);
    color: white;
    list-style-type: none;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
    background-color: #ccc;
    margin: 20px;
    padding: 40;
}

h2{
    border-style:groove;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(28, 28, 50);
    border-radius: 40px 40px 40px 40px;
}

img{
    padding-top: 20px;
    border-radius: 30000px 30000px 30000px 30000px;
    border-top-style: groove;
}